  @keyframes animar {
            0% {
                transform: translateY(100vh) scale(0);
            }
            

            100% {
                 transform: translateY(-10vh) scale(1);}
        }

        @keyframes olho {
            0% {transform:rotate(0deg);}

            100% {transform:rotate(-360deg);}
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing:border-box;
        }

        body {
            min-height: 100vh;
            background-image: url(imagens/Itachi_luaAzul.jpg);
            background-repeat: no-repeat;
            background-size: 100vw;
        }

        .caixa{
            position: relative;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            
        }

        .bolhas{
            position: absolute;
            display: flex;
        }

        .bolhas span{
            
            width: 30px;
            height: 30px;
            margin: 0 4px;
            background:#f80404;
            border-radius: 50%;
            box-shadow: 0px 0px 10px 10px #f8040460;
            animation: animar calc(590s/ var(--i)) linear infinite;

        }

        .bolhas span:nth-of-type(even) {
            background:#a704a7;
            box-shadow: 0 0 10px 10px #ee03f760,0 0 50px #ab04f8,0 0 100px #cb02fd;
        } 


      
        .bolhas1{
            position: absolute;
            display: flex;
            margin-top: 40px;
            
            
        }

        .bolhas1 span{
            
            width: 30px;
            height: 30px;
            margin: 0 4px;
            background:#f80404;
            border-radius: 50%;
            box-shadow: 0px 0px 10px 10px #f8040460;
           animation: animar calc(390s/ var(--i)) linear infinite;

        }

        .bolhas1 span:nth-of-type(even) {
            background:#a704a7;
            box-shadow: 0 0 10px 10px #f701ff60,0 0 50px #ab04f8,0 0 100px #8503a5;
        } 

        img {
            width: 30px;
            height: 30px;
           animation: olho 3s  infinite;
        }

        button {
            width: 100px;
            height: 35px;
            margin: 400px 0px 0px 495px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 2em;
            box-shadow: 0px 0px 10px 10px #001aff60;
            
        }

        button > a {
            text-decoration: none;
            color:black;
        }

        button > a:hover {
            
            color:red;
        }

        button:hover {
            background-color: black;
            box-shadow: 0px 0px 10px 10px #f8040460;
        }